/* ==========Font family import====== */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/*========== Common style-=========== */
body{
    font-family: 'Lato', sans-serif;
    background-color: #F3F1FF;
}
a{
    text-decoration: none;
    color: #000;
}
/*============ Header section styles======== */
.container {
    width: 90%;
    margin: 0 auto;
}
.nav-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.menu-bar{
    flex: 50%;
    display: flex;
    justify-content: end;
    column-gap: 44px;
}
.menu-bar li{
    list-style: none;

}
.slider{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 0;

}
.slider-image{
    display: flex;            
    align-items: center;      
    justify-content: center;
}
.slider-wrap button {
    border: none;
    padding: 10px 20px;
    background-color: #E02C6D;
    color: #fff;
    border-radius: 29px;
}
.slider-btn i{
    color: #fff;
}
.slider-btn:hover{
    cursor: pointer;

    animation: zoom 0.9s linear infinite both ;
}
@keyframes zoom {
    from{
        transform: scale(1.5);
        background: #000;
    }
    to{
        transform: scale(1);
    }
}
.brand-logos{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    margin: 50px 0;
} 
.brand-logo img{
    width: 50px;
    height: 40px;
}
/* =========== ================
    products styles
================ ============*/
h2.section-title {
    text-align: center;
    margin-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 25px;
}
.product {
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: #00000070 0px 0px 20px 1px;
    
    }
.product-author {
    font-size: 30px;
    margin: 0;
    }
.product .product-banner img{
    width: 100%

}
h3.product-title {
    font-size: 26px;
}

.product-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #ffc014;
}
.fa-solid, .fas {
    color: #ffc014;
    font-size: 12px;
}
.wrap-btn{
    display: flex;
    justify-content: flex-end;
    margin: 25px 0;
}
.btn{
    padding: 12px;
    border: none;
    background-color: #F3F1FF;
}
.btn a, .btn i{
    font-weight: 900;
    color: #E02C6D;
    font-size: 18px;
}
/* ===========-===== crousel css=============== */
.hd-crousel h1{
    text-align: center;
}
.crousel {
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px #0d0d0e;
    height: 18.75em;
    padding: 0.5em;
    width: 25em;
    margin: 0px auto;
  }
  
.crousel:before {
    background-color: #22130c;
    bottom: -2.5em;
    box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 0.2),
      inset 0 -2px 1px hsla(0, 0%, 0%, 0.4), 0 5px 50px hsla(0, 0%, 0%, 0.25),
      0 20px 20px -15px hsla(0, 0%, 0%, 0.2),
      0 30px 20px -15px hsla(0, 0%, 0%, 0.15),
      0 40px 20px -15px hsla(0, 0%, 0%, 0.1);
    content: "";
    left: -2.5em;
  
    right: -2.5em;
    top: -2.5em;
    z-index: -1;
  }
  
.crousel:after {
    background-color: #fff5e5;
    bottom: -1.5em;
    box-shadow: 0 2px 1px hsla(0, 0%, 100%, 0.2),
      0 -1px 1px 1px hsla(0, 0%, 0%, 0.4),
      inset 0 2px 3px 1px hsla(0, 0%, 0%, 0.2),
      inset 0 4px 3px 1px hsla(0, 0%, 0%, 0.2),
      inset 0 6px 3px 1px hsla(0, 0%, 0%, 0.1);
    content: "";
    left: -1.5em;
    right: -1.5em;
    top: -1.5em;
    z-index: -1;
  }
  
  .crousel li {
    box-shadow: 0 -1px 0 2px hsla(0, 0%, 0%, 0.03);
    list-style: none;
    position: absolute;
  }
  .crousel input {
    display: none;
  }
  .crousel label {
    background-color: #111;
    background-image: linear-gradient(transparent, hsla(0, 0%, 0%, 0.25));
    border: 0.2em solid transparent;
    bottom: 0.5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 14px;
    left: 24em;
    opacity: 0;
    position: absolute;
    transition: 0.25s;
    width: 14px;
    visibility: hidden;
    z-index: 10;
  }
  .crousel label:after {
    border-radius: 100%;
    bottom: -0.2em;
    box-shadow: inset 0 0 0 0.2em #111, inset 0 2px 2px #000,
      0 1px 1px hsla(0, 0%, 100%, 0.25);
    content: "";
    left: -0.2em;
    position: absolute;
    right: -0.2em;
    top: -0.2em;
  }
  .crousel:hover label {
    opacity: 1;
    visibility: visible;
  }
  .crousel input:checked + label {
    background-color: #fff;
  }
  .crousel:hover li:nth-child(1) label {
    left: 0.5em;
  }
  .crousel:hover li:nth-child(2) label {
    left: 2em;
  }
  .crousel:hover li:nth-child(3) label {
    left: 3.5em;
  }
  .crousel:hover li:nth-child(4) label {
    left: 5em;
  }
  
  /* ============== crousel Images =============*/
  .crousel img {
    height: 18.75em;
    opacity: 0;
    transition: 0.25s;
    width: 25em;
    vertical-align: top;
    visibility: hidden;
  }
  .crousel li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
/* ==================Footer icons ===========*/
.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 22px;
    color: #fff;
}
.footer {
    background: #0A0826;
    padding: 33px 0;
    width: 100%;
    margin: 0;
}

.text-item h2, .text-item p {
    color: violet;
}
footer.text-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

/* ================ For mobile device styles===========================- */
@media only screen and (max-width:360px){
.nav-bar{
    display: none;
}
/* top header */
h1.slider-head-item {
    font-size: 30px;
    text-align: center;
}
.slider-wrap{
    text-align: center;
}
.slider {
    grid-template-columns: repeat(1, 1fr);
    justify-items: start;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
}
/* Brand logo area */
.brand-logos{
    row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.products{
    grid-template-columns: repeat(1, 1fr);
}
}



