/* ==========Font family import====== */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/*========== Common style-=========== */
body{
    font-family: 'Lato', sans-serif;
    background-color: #f3f1ff;
}
a{
    text-decoration: none;
}
/*============ Header section styles======== */
.container {
    width: 90%;
    margin: 0 auto;
}
.nav-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.menu-bar{
    flex: 50%;
    display: flex;
    justify-content: end;
    column-gap: 44px;
}
.menu-bar li{
    list-style: none;

}
.slider{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 0;

}
.slider-image{
    display: flex;            
    align-items: center;      
    justify-content: center;
}
.slider-text button {
    border: none;
    padding: 10px 20px;
    background-color: rebeccapurple;
    color: #fff;
    border-radius: 29px;
}
.brand-logos{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    margin: 50px 0;
} 
.brand-logo img{
    width: 50px;
    height: 40px;
}
/* ===========
    Courses styles
================ */
h2.section-title {
    text-align: center;
    margin-bottom: 30px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}
.course {
    background: #a888c9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #00000070 0px 0px 20px 1px;
    }

.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #ffc014;
}
.fa-solid, .fas {
    color: #ffc014;
    font-size: 12px;
}
.wrap-btn{
    display: flex;
    justify-content: flex-end;
    margin: 25px 0;
}

button.btn{
    padding: 12px;
    border: none;
    background: tomato;
    color: #fff;
}
/* Footer icons */
.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 22px;
    color: #fff;
}
.footer {
    background: #0A0826;
    padding: 33px 0;
    width: 100%;
    margin: 0;
}

.text-item h2, .text-item p {
    color: violet;
}
footer.text-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}